/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background: linear-gradient(135deg, #0bf99e,#143df8);
    background-size: cover;
    min-height: 100vh;
}

.tarea {
    button {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.tarea:hover button {
    opacity: 1 !important;
}
.btn-info{
    background-color: linear-gradient(135deg, #222e63, #206349); !important
}
